* {
    box-sizing: border-box;
  }

@media screen and (max-width: 700px) {

body {
    width: 100%;
    margin: 0;
}
/*
img .frontpage-img{
    display: flex;
    background-size: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
*/
.li-none {
    list-style: none;
}

header {
    background: url(../img/background-img-medium.jpg) no-repeat center; 
    background-size: cover;
    height: 900px;
    /*margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    height: 0;*/
}

.main-nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    opacity: 0.9;
    color: white;
    text-transform: uppercase;
    justify-content: space-between;
}

h1 {
    align-self: center;
    padding-left: 15px;
    letter-spacing: 1px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

button.btn-mobile-menu {
    align-self: right;
    background-color: black;
    padding-right: 20px;
    color: rgb(194, 194, 194);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.desktop-menu {
    display: none;
}

.frontpage-content {
    position: absolute;
    top: 180px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.037);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.welcome {
    color: rgb(191, 146, 91);
    text-transform: uppercase;
    font-size: 2rem;
}

.frontpage-quote {
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
}

.frontpage-span {
    color: transparent;
    -webkit-text-stroke: 0.1px rgb(255, 255, 255);
    -webkit-text-fill-color: transparent;
    }

.frontpage-text {
    color: white;
    font-family: 'Poppins';
}

.frontpage-btn {
    text-transform: uppercase;
    border: 3px solid;
    padding: 10px;
    border-color:rgb(191, 146, 91);
    background-color: transparent;
    color: rgb(191, 146, 91);
    margin: 20px;
    cursor: pointer;
}

/* services */

.services-col-1 , .services-col-3 {
    background-color:rgb(191, 146, 91);
    height: 300px;
    width: 100%;
}

.services-col-2 , .services-col-4{
    background-color: rgb(183, 134, 73);
    height: 300px;
    width: 100%;
}

.services h2 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
}

.services p {
    font-family: 'Poppins';
    color: white;
    font-size: .95rem;
    text-align: center;
    padding: 20px;
}

.img-col-1 , .img-col-2 , .img-col-3 , .img-col-4 {
    display: flex;
    justify-content: center;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  /* about us */

.about-us-img , .about-img {
    display: flex;
    justify-content: center;
    height: 300px;
}

.about-barber h2 , h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
}

.about-barber h2 {
    color: rgb(191, 146, 91);
    font-size: .85rem;
    padding-left: 15px;
}

.about-barber h3 {
    color: rgb(0, 0, 0);
    font-size: 1.35rem;
    text-align: left;
    padding-left: 15px;
}

.about-barber p {
    color: inherit;
    font-size: .95rem;
    font-family: 'Poppins';
    padding-left: 15px;
}

.calendar {
    display: flex;
    text-transform: uppercase;
    height: 80px;
    width: 200px;
    margin: 10px;
    background-color:rgb(191, 146, 91);
    cursor: pointer;
    justify-content: space-evenly;
    align-items: center;
}

.calendar-img {
    width: 30px;
    height: 30px;
}

.number {
    font-size: 1.35rem;
}

.calendar a {
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    text-align: left;
}

/* testimonial / recensioner */

.testimonial {
    background-color: rgb(234, 232, 222);
    height: 600px;
    width: 100%;
}

.testimonial.h2.h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.testimonial h2 {
    color: rgb(191, 146, 91);
    font-size: 1.5rem;
}

.testimonial h3 {
    font-size: 1.7rem;
}

blockquote {
    background-color: white;
    height: 300px;
    width: 85%;
    border-radius: 20px;
    color: grey;
    font-family: 'Poppins';
    text-align: left;
    font-size: 1.1rem;
}

.testimonial.quotation-img {
    display: flex;
    justify-content: center;
}

.img-quotation {
    display: flex;
    justify-content: flex-start;
}

.quotation-img {
    background-color:  rgb(191, 146, 91);
    width: 40px;
    height: 40px;
    border: 5px solid  rgb(191, 146, 91);
    border-radius: 50%;
}

.desktop {
    display: none;
}

/* footer */

.footer {
    background-color: black;
    color: white;
}

.footer h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
}

p , a {
    font-family: 'Poppins';
    font-size: .8rem;
}

.footer a {
    text-decoration: none;
    color: white;
}

.media-img {
    background-color:  rgb(191, 146, 91);
    border-radius: 50%;
    margin-top: 10px;
}

.footer-barbershop , .footer-explore , .footer-info , .footer-contact {
    margin-left: 10px;
}

#bullet {
    line-height: 1.5em;
    list-style-type: circle;
}

/* dropdown?

    .dropbtn {
    background-color: #000000;
    color: rgb(200, 197, 197);
    text-transform: uppercase;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


.dropdown-content a:hover {background-color: #0000007b}
*/

}

@media screen and (min-width: 701px) {

    body {
        width: 100%;
        margin: 0;
    }

    .li-none {
        list-style: none;
    }
    
    /* header, nav, frontpage */

    img .frontpage-img{
        display: flex;
        background-size: 100%;
        height: 600px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    
    header {
        margin: 0;
        position: sticky;
        top: 0;
        width: 100%;
        height: 0;
    }
    
    .main-nav {
        display: flex;
        top: 0;
        width: 100%;
        height: 50px;
        background-color: black;
        opacity: 0.9;
        color: white;
        text-transform: uppercase;
        justify-content: space-between;
    }
    
    h1 {
        align-self: center;
        padding-left: 15px;
        letter-spacing: 1px;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }
    
    button.btn-mobile-menu {
        align-self: right;
        background-color: black;
        padding-right: 20px;
        color: rgb(194, 194, 194);
        text-transform: uppercase;
        letter-spacing: 1px;
        border: none;
        cursor: pointer;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }
    /*
    .desktop-menu {
        display: none;
    }
    */
    .frontpage-content {
        position: absolute;
        top: 180px;
        left: 20px;
        background-color: rgba(255, 255, 255, 0.037);
        font-family: 'Barlow Semi Condensed', sans-serif;
    }
    
    .welcome {
        color: rgb(191, 146, 91);
        text-transform: uppercase;
        font-size: 2rem;
    }
    
    .frontpage-quote {
        color: white;
        text-transform: uppercase;
        font-size: 3rem;
    }
    
    .frontpage-span {
        color: transparent;
        -webkit-text-stroke: 0.1px rgb(255, 255, 255);
        -webkit-text-fill-color: transparent;
        }
    
    .frontpage-text {
        color: white;
        font-family: 'Poppins';
    }
    
    .frontpage-btn {
        text-transform: uppercase;
        border: 3px solid;
        padding: 10px;
        border-color:rgb(191, 146, 91);
        background-color: transparent;
        color: rgb(191, 146, 91);
        margin: 20px;
        cursor: pointer;
    }
    
/* services */

.services-col-1 , .services-col-3 {
    background-color:rgb(191, 146, 91);
    height: 300px;
    width: 100%;
}

.services-col-2 , .services-col-4{
    background-color: rgb(183, 134, 73);
    height: 300px;
    width: 100%;
}

.services h2 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
}

.services p {
    font-family: 'Poppins';
    color: white;
    font-size: .95rem;
    text-align: center;
    padding: 20px;
}

.img-col-1 , .img-col-2 , .img-col-3 , .img-col-4 {
    display: flex;
    justify-content: center;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  /* about us */

.about-us-img , .about-img {
    display: flex;
    justify-content: center;
    height: 300px;
}

.about-barber h2 , h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
}

.about-barber h2 {
    color: rgb(191, 146, 91);
    font-size: .85rem;
    padding-left: 15px;
}

.about-barber h3 {
    color: rgb(0, 0, 0);
    font-size: 1.35rem;
    text-align: left;
    padding-left: 15px;
}

.about-barber p {
    color: inherit;
    font-size: .95rem;
    font-family: 'Poppins';
    padding-left: 15px;
}

.calendar {
    display: flex;
    text-transform: uppercase;
    height: 80px;
    width: 200px;
    margin: 10px;
    background-color:rgb(191, 146, 91);
    cursor: pointer;
    justify-content: space-evenly;
    align-items: center;
}

.calendar-img {
    width: 30px;
    height: 30px;
}

.number {
    font-size: 1.35rem;
}

.calendar a {
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    text-align: left;
}

/* testimonial / recensioner */

.testimonial {
    background-color: rgb(234, 232, 222);
    height: 600px;
    width: 100%;
}

.testimonial.h2.h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.testimonial h2 {
    color: rgb(191, 146, 91);
    font-size: 1.5rem;
}

.testimonial h3 {
    font-size: 1.7rem;
}

blockquote {
    background-color: white;
    height: 300px;
    width: 85%;
    border-radius: 20px;
    color: grey;
    font-family: 'Poppins';
    text-align: left;
    font-size: 1.1rem;
}

.testimonial.quotation-img {
    display: flex;
    justify-content: center;
}

.img-quotation {
    display: flex;
    justify-content: flex-start;
}

.quotation-img {
    background-color:  rgb(191, 146, 91);
    width: 40px;
    height: 40px;
    border: 5px solid  rgb(191, 146, 91);
    border-radius: 50%;
}

/*
.desktop {
    display: none;
}
*/

/* footer */

.footer {
    background-color: black;
    color: white;
}

.footer h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
}

p , a {
    font-family: 'Poppins';
    font-size: .8rem;
}

.footer a {
    text-decoration: none;
    color: white;
}

.media-img {
    background-color:  rgb(191, 146, 91);
    border-radius: 50%;
    margin-top: 10px;
}

.footer-barbershop , .footer-explore , .footer-info , .footer-contact {
    margin-left: 10px;
}

#bullet {
    line-height: 1.5em;
    list-style-type: circle;
}

}