* {
    box-sizing: border-box;
  }

@media screen and (max-width: 700px) {

body {
    width: 100%;
    margin: 0;
}

img .frontpage-img{
    background-size: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

li {
    list-style: none;
}

header {
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    height: 0;
}

.main-nav {
    display: flex;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    opacity: 0.9;
    color: white;
    text-transform: uppercase;
    justify-content: space-between;
}

h1 {
    align-self: center;
    padding-left: 15px;
    letter-spacing: 1px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

button.btn-mobile-menu {
    align-self: right;
    background-color: black;
    padding-right: 20px;
    color: rgb(194, 194, 194);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.desktop-menu {
    display: none;
}

.frontpage-content {
    position: absolute;
    top: 180px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.037);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.welcome {
    color: rgb(191, 146, 91);
    text-transform: uppercase;
    font-size: 2rem;
}

.frontpage-quote {
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
}

.frontpage-span {
    color: transparent;
          -webkit-text-stroke-width: .05px;
          -webkit-text-stroke-color: white;
    }

.frontpage-text {
    color: white;
    font-family: 'Poppins';
}

.frontpage-btn {
    text-transform: uppercase;
    border: 3px solid;
    padding: 10px;
    border-color:rgb(191, 146, 91);
    background-color: transparent;
    color: rgb(191, 146, 91);
    margin: 20px;
    cursor: pointer;
}

/* services */

.services-col-1 , .services-col-3 {
    background-color:rgb(191, 146, 91);
    height: 300px;
    width: 100%;
}

.services-col-2 , .services-col-4{
    background-color: rgb(183, 134, 73);
    height: 300px;
    width: 100%;
}

.services h2 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
}

.services p {
    font-family: 'Poppins';
    color: white;
    font-size: .95rem;
    text-align: center;
    padding: 20px;
}

.img-col-1 {
    display: flex;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

.about-img {
    height: 50vh;
    padding: 20px solid white;
}

.about-barber h2 , h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
}

.about-barber h2 {
    color: rgb(191, 146, 91);
    font-size: .85rem;
}

.about-barber h3 {
    color: rgb(0, 0, 0);
    font-size: 1.35rem;
}

.about-barber p {
    color: inherit;
    font-size: .95rem;
    font-family: 'Poppins';
}

.calendar {
    text-transform: uppercase;
    height: 80px;
    width: 200px;
    padding: 20px;
    margin: 10px;
    background-color:rgb(191, 146, 91);
    color: rgb(191, 146, 91);
    cursor: pointer;
    text-align: left;
}

.calendar-img {
    width: 30px;
    height: 30px;
    align-self: left;
}

.number {
    font-size: 1.35rem;
}

.calendar a {
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
}

/* testimonial / recensioner */

.testimonial {
    background-color: rgb(234, 232, 222);
    height: 600px;
    width: 100%;
}

.testimonial h2 , h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.testimonial h2 {
    color: rgb(191, 146, 91);
    font-size: 1.5rem;
}

.testimonial h3 {
    font-size: 1.7rem;
}

blockquote {
    background-color: white;
    height: 300px;
    color: grey;
    font-family: 'Poppins';
    text-align: left;
    font-size: 1.1rem;
}

.desktop {
    display: none;
}

/* footer */

.footer {
    background-color: black;
    color: white;
}

.footer h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
}

.footer p a {
    font-family: 'Poppins';
}

.footer a {
    text-decoration: none;
    color: white;
}

/* dropdown?

    .dropbtn {
    background-color: #000000;
    color: rgb(200, 197, 197);
    text-transform: uppercase;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


.dropdown-content a:hover {background-color: #0000007b}
*/

}

@media screen and (min-width: 701px) {

    body {
        margin: 0;
    }

/* header/navigation */

    header {
        margin: 0;
        position: sticky;
        top: 0%;
        padding: 0%;
        width: 100%;
    }

    nav {
        display: flex;
        width: 100%;
        background-color: black;
        color: white;
        opacity: 0.9;
        text-transform: uppercase;
        letter-spacing: 1px;
        justify-content: space-around;
        align-items: center;
        font-family: 'Barlow Semi Condensed', sans-serif;
        }

        .btn-mobile-menu {
        display: none;
        }
    
        .desktop-menu {
        color: white;
        text-transform: uppercase;
        }

        a {
            text-decoration: none;
            color: white;
        }

        .home {
            color: rgb(191, 146, 91);
        }

/* frontpage content */

.frontpage-content {
    min-width: 350px;
    max-width: 400px;
    height: 250px;
    background-color: transparent;
    position: absolute;
    top: 40vh;
    left: 57vw;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.welcome {
    color: rgb(191, 146, 91);
    text-transform: uppercase;
    font-size: 22px;
}

.frontpage-quote {
    color: white;
    text-transform: uppercase;
    font-size: 36px;
}

.frontpage-text {
    color: white;
    font-family: 'Poppins';
}

.frontpage-btn {
text-transform: uppercase;
border: 3px solid;
padding: 10px;
border-color:rgb(191, 146, 91);
background-color: transparent;
color: rgb(191, 146, 91);
margin: 20px;
cursor: pointer;
}

}